
{% extends 'base.html' %}
{% block content %}

<!-- content @s -->
<div class="nk-content nk-content-lg nk-content-fluid ">
    <div class="container-xl wide-lg">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="kyc-app wide-sm m-auto">
                    <div class="nk-block-head nk-block-head-lg wide-xs mx-auto">
                        <div class="nk-block-head-content text-center">
                            {#<h2 class="nk-block-title fw-normal" font-family="SofSofiaProWeb, Arial, Helvetica, sans-serif;">Please Enter Your Phone Number</h2>#}
                            <div class="nk-block-des">
                                {#<p>Please enter your phone number to continue</p>#}
                                <!-- <p>You will receive a one time password (OTP) in this number</p> -->
                            </div>
                        </div>
                    </div><!-- .nk-block-head -->
                    <div class="nk-block">
                        {#<div class="card card-bordered">#}
                            {#<div class="card-inner card-inner-lg">#}
                                <form action="" method="POST">
                                <div class="nk-kyc-app p-sm-2 " style="margin-left:100px;margin-right:100px;">
                                    {#
                                    <div class="nk-kyc-app-icon">
                                        <em class="icon ni ni-emails"></em>
                                    </div>
                                    #}

                                    
                                    <div class="nk-kyc-app-text mx-auto">
                                        <p class="lead">What is your prefered name?</p>
                                        <div class="row g-4">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label" >First Name</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="first_name" name="first_name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label" >Last Name</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="last_name" name="last_name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:20px ;">
                                        <div class="form-group" style="margin-left: 5px ;margin-right: 5px ;">
                                            <label class="form-label" style="font-size:14px;" for="message">
                                                This is your personal message to the doctor. Feel free to share any concerns you have or
                                                ask any questions. Our world class doctors and licensed therapists are always empathetic,
                                                polite and non judgemental. And remember all your consultations are confidential.
                                            </label>
                                            <div class="form-control-wrap">
                                                <textarea class="form-control form-control-md" id="message" name="message" ></textarea>
                                            </div>
                                        </div>
                                    </div>

                                        
                                        <!-- <ul class="list-inline" style="margin-top: 2px; margin-bottom: 10px;">
                                            <li>
                                                <div class="custom-control custom-control-sm custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="edit_morning_" name="edit_medicine_time_" value="morning">
                                                    <label class="custom-control-label" for="edit_morning_">Morning</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="custom-control custom-control-sm custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="edit_afternoon_" name="edit_medicine_time_" value="afternoon">
                                                    <label class="custom-control-label" for="edit_afternoon_">Afternoon</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="custom-control custom-control-sm custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="edit_night_" name="edit_medicine_time_" value="night">
                                                    <label class="custom-control-label" for="edit_night_">Night</label>
                                                </div>
                                            </li>
                                            
                                        </ul> -->

                                        <!-- {#<p class="lead">question 1</p>#}
                                        <div class="form-group">
                                            <label class="form-label" for="phone">Enter Your Phone Number</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="phone" name="phone">
                                            </div>
                                        </div>
                                        {#<p>OR</p>#}
                                        {#<p>Use <a href="{{url_for('email_signup')}}">Email</a> to sign up</p>#} -->
                                    </div>
                                    
                                    <div class="nk-kyc-app-action text-center">
                                        <button type="submit" class="btn btn-lg btn-round" style="background-color:#6A1B78 ; color:white">Continue</button>
                                        <!-- {#<a type="button" href="{{url_for('phone_verification_message')}}" class="btn btn-lg btn-dark">Continue</a>#} -->
                                    </div>
                                    
                                
                                </div>
                            </form>
                            <!-- {#</div>#} -->
                        <!-- {#</div>#} -->
                            <!-- .card -->
                        
                        <div class="text-center pt-4">
                            <!-- {#<p>If you have any question, please contact our support team <a href="mailto:info@inticure.com">info@inticure.com</a></p>#} -->
                        </div>
                        
                    </div> <!-- .nk-block -->
                </div><!-- .kyc-app -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->
<!-- <style>
    .custom-radio input:checked ~ .checkmark {
      background-color: #34013f;
    }
    .input[type="radio"]:checked ~ .checkmark {
      background-color: #34013f;
    }
</style> -->
<style>
    /* The container */
    .purple_radio {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Hide the browser's default radio button */
    .purple_radio input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    
    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
    }
    
    /* On mouse-over, add a grey background color */
    .purple_radio:hover input ~ .checkmark {
      background-color: #ccc;
    }
    
    /* When the radio button is checked, add a blue background */
    .purple_radio input:checked ~ .checkmark {
      background-color: #34013f;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    .purple_radio input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .purple_radio .checkmark:after {
         top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
    </style>
{% endblock %}