{% extends 'base.html' %}
{% block content %}
<!-- content @s -->
<div class="nk-content nk-content-lg nk-content-fluid ">
    <div class="container-xl wide-lg">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="kyc-app wide-sm m-auto">
                    <div class="nk-block-head nk-block-head-lg wide-xs mx-auto">
                        <div class="nk-block-head-content text-center">
                            <h2 class="nk-block-title fw-normal" font-family="Red Hat Display, Arial, Helvetica, sans-serif;">Otp verified</h2>
                            <div class="nk-block-des">
                                {#<p>Please enter your phone number to continue</p>#}
                                <p></p>
                            </div>
                        </div>
                    </div><!-- .nk-block-head -->
                    <div class="nk-block">
                        {#<div class="card card-bordered">#}
                            {#<div class="card-inner card-inner-lg">#}
                                <form action="" method="POST">
                                <div class="nk-kyc-app p-sm-2 text-center">
                                    <div class="nk-kyc-app-icon">
                                        <em class="icon ni ni-check"></em>
                                    </div>
                                    
                                    <div class="nk-kyc-app-text mx-auto">
                                        {#<p class="lead">question 1</p>#}
                                        <!-- <div class="form-group">
                                            <label class="form-label" for="phone">Thank you</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="phone" name="phone">
                                            </div>
                                        </div> -->
                                        {#<p>OR</p>#}
                                        {#<p>Use <a href="{{url_for('email_signup')}}">Email</a> to sign up</p>#}
                                    </div>
                                    <div class="nk-kyc-app-action">
                                        {#<button type="submit" class="btn btn-lg btn-dark">Continue</button>#}
                                        <a type="button" href="" class="btn btn-lg btn-dark">Ok</a>
                                        
                                    </div>
                                
                                </div>
                            </form>
                            {#</div>#}
                        {#</div><!-- .card -->#}
                        <div class="text-center pt-4">
                            <p>If you have any question, please contact our support team <a href="mailto:info@inticure.com">info@inticure.com</a></p>
                        </div>
                    </div> <!-- .nk-block -->
                </div><!-- .kyc-app -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->
{% endblock %}