
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{{url_for('static',filename='images/Site-icon.png')}}">
    <!-- Page Title  -->
    <title>Error 404 </title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/dashlite.css')}}">
    <link id="skin-default" rel="stylesheet" href="{{url_for('static',filename='assets/css/skins/theme-purple.css')}}">
</head>

<body class="nk-body bg-white npc-default pg-error">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle wide-xs mx-auto">
                        <div class="nk-block-content nk-error-ld text-center">
                        {% if err %}
                            <h1 class="nk-error-ld">{{err}}</h1>
                        {% endif %}
                            <a  href="javascript:void(0);" onclick="goBackAndReload();" class="btn btn-lg btn-primary mt-2">Time slot not available click here to Choose another time</a>
                        </div>
                    </div><!-- .nk-block -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
     <script>
        function goBackAndReload() {
            sessionStorage.clear();
            window.history.back(); 

        }
    </script>
    <script src="{{url_for('static',filename='assets/js/bundle.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/scripts.js')}}"></script>   

</html>